//- Все примеси в этом файле должны начинаться c имени блока (block-right)

mixin block-right(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +block-right('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' block-right--' + modsList[i].trim();
      }
    }

  .block-right(class=allMods)&attributes(attributes)
    block
