// В этом файле должны быть стили для БЭМ-блока block-right, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.block-right {
  $block-name:                &; // #{$block-name}__element
  position: relative;
  height: 500px;
  overflow: hidden;
  max-width: 1365px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  @media (min-width: $screen-md) {
    margin-bottom: 80px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 100px;
    height: 570px;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

    @media (min-width: $screen-md) {
      width: 68%;
    }
  }

  &__inner {
    @include container();
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @media (min-width: $screen-md) {
      justify-content: flex-end;
    }
  }
}
