// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {
  $block-name: &; // #{$block-name}__element

  @media (max-width: $screen-sm-max) {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    min-height: 330px;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    visibility: visible;

    &--visible {
      width: 320px;
    }
  }

  @media (min-width: $screen-md) {
    margin-left: auto;
    margin-right: 22px;
    padding-left: 10px;
    max-width: calc(100% - 160px); // logo + cart width
  }

  @media (min-width: $screen-lg) {
    padding-top: 5px;
    margin-right: 55px;
    padding-left: 20px;
    max-width: calc(100% - 234px); // logo + cart width
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $screen-sm-max) {
      padding: 105px 55px 30px 40px;
    }

    @media (min-width: $screen-md) {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      margin-right: 15px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      margin-right: 52px;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 5px 0;
    letter-spacing: 0.2em;
    text-align: left;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      font-size: 14px;
    }

    @media (min-width: $screen-xl) {
      font-size: 16px;
    }

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: #fff;
      opacity: 0.7;
    }
  }

  @media (max-width: $screen-sm-max) {

    &--hidden {
      background-color: transparent;

      .main-nav__link {
        display: none;
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    min-height: 330px;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    margin-top: 0;
    margin-bottom: 0;
    padding: 105px 0 30px;
    list-style: none;

    @media (min-width: $screen-md) {
      padding: 115px 0 30px;
      min-height: 450px;
    }

    &--visible {
      width: 320px;

      @media (min-width: $screen-md) {
        width: 355px;
      }
    }
  }

  &__submenu-item {
    margin-bottom: 15px;
    padding-left: 55px;
    padding-right: 40px;

    @media (min-width: $screen-md) {
      padding-left: 60px;
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__submenu-title {
    display: block;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 5px 0;
    letter-spacing: 0.2em;
    text-align: left;
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  &__submenu-link {
    display: block;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 5px 0 5px 10px;
    letter-spacing: 0.2em;
    text-align: left;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      font-size: 24px;
    }
  }

  &__submenu-toggler {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    z-index: 1500;

    @media (min-width: $screen-md) {
      display: block;
    }

    > button {
      padding: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      user-select: none;
      background-color: transparent;
    }

    span {
      display: inline-block;
      background-color: transparent;
      position: relative;

      &:before,
      &:after {
        display: inline-block;
        width: 25px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        content: '';
      }

      &:before {
        transform: rotate3d(0, 0, 1, -45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, 45deg);
      }
    }
  }
}
