//- Все примеси в этом файле должны начинаться c имени блока (main-nav)

mixin main-nav(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +main-nav('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-nav--' + modsList[i].trim();
      }
    }

  nav.main-nav(class=allMods)&attributes(attributes)
    ul.main-nav__list
      li.main-nav__item
        a.main-nav__link(href="#") Новинки
        ul.main-nav__submenu
          li.main-nav__submenu-toggler
            button.btn
              span
          li.main-nav__submenu-item
            a.main-nav__submenu-title Новинки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Сумки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Клатчи
          li.main-nav__submenu-item
            a.main-nav__submenu-link Рюкзаки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Аксессуары
          li.main-nav__submenu-item
            a.main-nav__submenu-link Одежда
      li.main-nav__item
        a.main-nav__link(href="#") Женское
        ul.main-nav__submenu
          li.main-nav__submenu-toggler
            button.btn
              span
          li.main-nav__submenu-item
            a.main-nav__submenu-title Женское
          li.main-nav__submenu-item
            a.main-nav__submenu-link Сумки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Клатчи
          li.main-nav__submenu-item
            a.main-nav__submenu-link Рюкзаки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Аксессуары
          li.main-nav__submenu-item
            a.main-nav__submenu-link Одежда
      li.main-nav__item
        a.main-nav__link(href="#") Мужское
        ul.main-nav__submenu
          li.main-nav__submenu-toggler
            button.btn
              span
          li.main-nav__submenu-item
            a.main-nav__submenu-title Мужское
          li.main-nav__submenu-item
            a.main-nav__submenu-link Сумки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Клатчи
          li.main-nav__submenu-item
            a.main-nav__submenu-link Рюкзаки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Аксессуары
          li.main-nav__submenu-item
            a.main-nav__submenu-link Одежда
      li.main-nav__item
        a.main-nav__link(href="#") Дом
        ul.main-nav__submenu
          li.main-nav__submenu-toggler
            button.btn
              span
          li.main-nav__submenu-item
            a.main-nav__submenu-title Дом
          li.main-nav__submenu-item
            a.main-nav__submenu-link Сумки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Клатчи
          li.main-nav__submenu-item
            a.main-nav__submenu-link Рюкзаки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Аксессуары
          li.main-nav__submenu-item
            a.main-nav__submenu-link Одежда
      li.main-nav__item
        a.main-nav__link(href="#") Sale
        ul.main-nav__submenu
          li.main-nav__submenu-toggler
            button.btn
              span
          li.main-nav__submenu-item
            a.main-nav__submenu-title Sale
          li.main-nav__submenu-item
            a.main-nav__submenu-link Сумки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Клатчи
          li.main-nav__submenu-item
            a.main-nav__submenu-link Рюкзаки
          li.main-nav__submenu-item
            a.main-nav__submenu-link Аксессуары
          li.main-nav__submenu-item
            a.main-nav__submenu-link Одежда
