// В этом файле должны быть стили для БЭМ-блока top-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-nav {
  $block-name: &; // #{$block-name}__element

  @media (max-width: $screen-sm-max) {
    position: absolute;
    top: -15px;
    left: -320px;
    width: 320px;
    height: 100vh;
    min-height: 330px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    transition: 0.5s;
    overflow-x: hidden;

    &--visible {
      left: 0;
    }
  }

  @media (min-width: $screen-md) {
    padding-top: 3px;
    width: 63%;
  }

  @media (min-width: $screen-xl) {
    width: 77%;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    @media (max-width: $screen-sm-max) {
      padding: 50px 50px 30px;
    }

    @media (min-width: $screen-md) {
      list-style: none;
      display: flex;
    }
  }

  &__item {
    margin-bottom: 5px;

    @media (min-width: $screen-md) {
      margin-right: 20px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 3px 0;
    text-decoration: none;
    line-height: 1.2;

    @media (min-width: $screen-md) {
      padding: 0;
      font-size: 11px;
      opacity: 0.5;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: #fff;
      opacity: 0.7;

      @media (min-width: $screen-md) {
        opacity: 0.3;
      }
    }
  }
}
