// В этом файле должны быть стили для БЭМ-блока top-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-nav {
  $block-name:                &; // #{$block-name}__element
  padding-top: 3px;

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    opacity: 0.5;
    line-height: 1.2;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: #fff;
      opacity: 0.3;
    }
  }
}
