// В этом файле должны быть стили для БЭМ-блока default-gallery, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.default-gallery {
  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include container();
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: block;
    width: 48%;
    font-size: 0;
    margin-bottom: 15px;
    overflow: hidden;
    margin-right: 4%;


    @media (max-width: $screen-sm-max) {

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: $screen-md) {
      width: 32%;
      margin-bottom: 16px;
      margin-right: 2%;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 20px;

      &:hover img {
        transform: scale(1.1);
      }
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 25px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 85px;


      @media (min-width: $screen-sm) {
        height: 135px;
      }

      @media (min-width: $screen-md) {
        height: 155px;
      }

      @media (min-width: $screen-lg) {
        height: 185px;
        transform: scale(1);
        transition: all 0.4s ease-in-out;
      }

      @media (min-width: $screen-xl) {
        height: 245px;
      }
    }
  }
}
