// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumbs {
  $block-name: &; // #{$block-name}__element
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--left {

    @media (min-width: $screen-lg) {
      justify-content: flex-start;
    }

  }

  &__item {
    position: relative;
    font-size: 14px;
    margin-right: 13px;

    > a {
      position: relative;
      display: block;
      text-decoration: none;
      transition: all 0.3s;
      padding-right: 23px;
      color: #000 !important;

      &:after {
        position: absolute;
        content: '';
        display: block;
        height: 7px;
        width: 5px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('../img/icon-arrow--black.svg') center center no-repeat;
        background-size: contain;
      }

      &:hover,
      &:active {
        color: #000 !important;
        opacity: 0.7;
      }
    }

    &:last-child {
      display: none;
    }

    &:nth-last-child(2) {

      > a {
        padding-right: 18px;

        &:after {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }

  &--white {

    .breadcrumbs__item {

      > a {

        @media (min-width: $screen-lg) {
          color: #fff;

          &:after {
            background: url('../img/icon-arrow--white.svg') center center no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}
