//- Все примеси в этом файле должны начинаться c имени блока (range-field)

mixin range-field(name, title, mods)

  //- Принимает:
  //-   name    {string} - имя
  //-   title    {string} - заголовок
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +range-field('имя', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' range-field--' + modsList[i].trim();
      }
    }

  .range-field-wrap
    .range-field__title= title
    input.range-field(type="text" class=allMods name=name)&attributes(attributes)
