.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  outline: none;
  border: none;

  &--white {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    line-height: 1.6;
    font-weight: 700;
    padding: 9px 41px 6px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      color: transparent;
    }
  }

  &--subscribe {
    background: #000;
    color: #fff;
    line-height: 1.6;
    font-weight: 600;
    padding: 10px 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 16px;
    border: 1px solid #000;
    border-left: 0;
    width: 189px;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: #000;
    }
  }
}
