.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  outline: none;
  border: none;

  &--white {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    line-height: 1.6;
    font-weight: 700;
    padding: 9px 41px 6px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      color: transparent;
    }
  }
}
