// В этом файле должны быть стили для БЭМ-блока top-nav-toggler, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-nav-toggler {
  $block-name:                &; // #{$block-name}__element
  position: relative;
  width: 20px;
  height: 20px;
  background: url('../img/icon-info.svg') center center no-repeat;
  background-size: contain;
  font-size: 0;
  opacity: 0.5;
  z-index: 1500;

  &--close {
    opacity: 1;
  }

  @media (min-width: $screen-md) {
    display: none;
  }
}
