//- Все примеси в этом файле должны начинаться c имени блока (top-nav-toggler)

mixin top-nav-toggler(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +top-nav-toggler('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' top-nav-toggler--' + modsList[i].trim();
      }
    }

  button.top-nav-toggler.btn(class=allMods)&attributes(attributes)
