//- Все примеси в этом файле должны начинаться c имени блока (select-field)

mixin select-field(name, placeholder, mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +select-field('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' select-field--' + modsList[i].trim();
      }
    }

  .select-field-wrap
    select.select-field(class=allMods name=name data-placeholder=placeholder)&attributes(attributes)
      block
