// В этом файле должны быть стили для БЭМ-блока select-field, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.select-field {
  $block-name: &; // #{$block-name}__element
}

// Стили для плагина Select 2
.select-field-wrap {
  margin-bottom: 32px;

  .select2-container--default .select2-selection--single {
    border: 0;
    border-bottom: 2px solid $gray;
    border-radius: 0;
    background: transparent;
    outline: 0;
  }

  .select2-container .select2-selection--single {
    height: 48px;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    color: $gray;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    color: $gray;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 44px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: 0;
    background: url('../img/select-arrow.svg') center center no-repeat;
    background-size: contain;
    width: 8px;
    height: 5px;
  }

  &--white {

    .select2-container--default .select2-selection--single {
      border: 3px solid $gray;

      @media (min-width: $screen-lg) {
        border: 3px solid #fff;
      }
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
      line-height: 60px;
    }

    .select2-container .select2-selection--single {
      height: 60px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 54px;
      width: 26px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 9px;

      @media (min-width: $screen-lg) {
        background: url('../img/select-arrow--white.svg') center center no-repeat;
        background-size: contain;
      }
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      padding-left: 15px;
      font-size: 30px;
      color: $gray;
      letter-spacing: 0.1em;
      line-height: 60px;

      @media (min-width: $screen-lg) {
        color: #fff;
      }
    }
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #292929;
}

.select2-dropdown {
  border: 0;
  border-radius: 0;
}

.select2-search .select2-search--dropdown {
  outline: none;

  &:focus {
    outline: none;
  }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  outline: none;

  &:focus {
    outline: none;
  }
}
