// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog {
  $block-name: &; // #{$block-name}__element
  position: relative;
  padding-top: 40px;
  background-color: #fff;
  margin-bottom: 60px;

  &__inner {
    @include container();
  }

  h1 {
    width: 100%;

    @media (min-width: $screen-lg) {
      text-align: left;
    }
  }

  .breadcrumbs {

    @media (min-width: $screen-lg) {
      justify-content: flex-start;
    }
  }

  &__items {

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .card {
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      width: 46%;
      margin-right: 8%;
      margin-left: 0;
      max-width: none;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg-max) {

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: $screen-xl) {
      width: 31%;
      margin-right: 3.5%;
      max-width: none;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (min-width: 1935px) {
      width: 23%;
      margin-right: 2.66%;

      &:nth-child(3n) {
        margin-right: 2.66%;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  &__content {

    @media (min-width: 1935px) {
      margin-left: 0 !important;
    }

    &--fullwidth {

      @media (min-width: $screen-lg) {
        margin-left: 0 !important;
      }

      @media (min-width: $screen-xl) {
        margin-left: 0 !important;
      }

      .card {

        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 30%;
          margin-right: 5%;

          &:nth-child(2n) {
            margin-right: 5%;
          }

          &:nth-child(3n) {
            margin-right: 0;
          }
        }

        @media (min-width: $screen-xl) {
          width: 23%;
          margin-right: 2.66%;

          &:nth-child(3n) {
            margin-right: 2.66%;
          }

          &:nth-child(4n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
