//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods,)&attributes(attributes)
    .page-footer__top
      .page-footer__top-inner
        .page-footer__block
          a.page-footer__logo(href='/')
            img(src='img/logo.svg', alt='Kuks')
          ul.page-footer__nav
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Наша история
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Юридическая информация
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Доставка
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Оплата
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Возвраты

        .page-footer__block
          a.page-footer__block-title(href='/') Женское
          ul.page-footer__nav
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Сумки
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Рюкзаки
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Клатчи
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Аксессуары
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Одежда

        .page-footer__block
          a.page-footer__block-title(href='/') Мужское
          ul.page-footer__nav
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Рюкзаки
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Кошельки
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Футляры для очков
            li.page-footer__nav-item
              a.page-footer__nav-link(href='/') Ремни

        .page-footer__block.page-footer__block--contacts
          a.page-footer__phone(href='tel:+79095883918') +7 909 588 39 18
          .page-footer__address Санкт-Петербург, Озерной пер. д. 12

          block

    .page-footer__bottom
      .page-footer__bottom-inner
        .page-footer__copyright KU’KS 2011 - FOREVER
        a.page-footer__dev(href='/' target='_blank')
          span Сделано в&nbsp;
          img(src='img/logo-oxyo.svg')

