//- Все примеси в этом файле должны начинаться c имени блока (bg-gallery)

mixin bg-gallery(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +bg-gallery('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' bg-gallery--' + modsList[i].trim();
      }
    }

  section.bg-gallery(class=allMods)&attributes(attributes)
    .bg-gallery__inner
      .bg-gallery__imgs
        .bg-gallery__top
          img.bg-gallery__img.bg-gallery__img--1(src='img/bg-gallery-1.jpg')
          img.bg-gallery__img.bg-gallery__img--2(src='img/bg-gallery-2.jpg')
          img.bg-gallery__img.bg-gallery__img--3(src='img/bg-gallery-3.jpg')
        .bg-gallery__bottom
          img.bg-gallery__img.bg-gallery__img--4(src='img/bg-gallery-4.jpg')
          img.bg-gallery__img.bg-gallery__img--5(src='img/bg-gallery-5.jpg')
          img.bg-gallery__img.bg-gallery__img--6(src='img/bg-gallery-6.jpg')
          img.bg-gallery__img.bg-gallery__img--7(src='img/bg-gallery-7.jpg')

      .bg-gallery__content-wrap
        .bg-gallery__content
          .bg-gallery__title #KUKS
          p.bg-gallery__text Давайте подружимся?
          block
