//- Все примеси в этом файле должны начинаться c имени блока (default-page)

mixin default-page(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +default-page('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' default-page--' + modsList[i].trim();
      }
    }

  .default-page(class=allMods)&attributes(attributes)
    block
