// В этом файле должны быть стили для БЭМ-блока new-item, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.new {
  $block-name:                &; // #{$block-name}__element
  position: relative;
  padding-top: 64px;
  padding-bottom: 128px;
  background: #520d41;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../img/bg-new.svg') top center no-repeat;
    background-size: cover;
  }

  &__inner {
    @include container();
    position: relative;
    z-index: 10;
  }

  &__title {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 23px;
    font-size: 80px;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 54px;
    font-weight: 300;
    color: #fff;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    opacity: 0.6;
  }

  &__item-wrap {
    margin-left: auto;
    margin-right: auto;
  }

  &__img-wrap {
    display: block;
  }

  &__img {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }

  &__content {
    padding: 42px 36px 38px;
    background: $gray--lighter;
    color: $gray;
  }

  &__item-title {
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__item-subtitle {
    color: $gray--light;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;
  }

  &__descr {
    margin-top: 0;
    line-height: 1.5;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 24px;
  }

  &__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
}
