//- Все примеси в этом файле должны начинаться c имени блока (location-select)

mixin location-select(id, name, text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +location-select('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' location-select--' + modsList[i].trim();
      }
    }

  .location-select(class=allMods)&attributes(attributes)
    label(for=id)= text
    select.location-select__field(id=id name=name)
      block
