// В этом файле должны быть стили для БЭМ-блока block-descr, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.block-descr {
  $block-name: &; // #{$block-name}__element
  position: relative;
  color: #fff;
  padding: 26px 10px 30px;
  max-width: 320px;
  max-height: 500px;
  overflow: hidden;
  text-align: center;
  background: #520e41;
  opacity: 0.9;
  z-index: 1000;

  @media (min-width: $screen-md) {
    max-width: none;
    width: 400px;
    padding: 26px 10px 35px;
  }

  @media (min-width: $screen-lg) {
    width: 490px;
    max-height: 570px;
    padding: 46px 10px 50px;
  }

  .btn--white {

    &:hover,
    &:active {
      background: #fff;
      color: rgb(82, 14, 65);
    }
  }

  &--blue-stone {
    background: #005768;

    .btn--white {

      &:hover,
      &:active {
        color: #005768;
      }
    }
  }

  &__title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;

    @media (min-width: $screen-sm) {
      font-size: 22px;
    }

    @media (min-width: $screen-md) {
      font-size: 30px;
      padding-bottom: 30px;
      margin-bottom: 35px;
    }

    &:after {
      position: absolute;
      content: '';
      width: 100px;
      height: 3px;
      background: #fff;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.55;
    font-size: 18px;

    @media (min-width: $screen-md) {
      padding: 0 30px;
    }

    @media (min-width: $screen-lg) {
      padding: 0 90px;
      margin-bottom: 33px;
    }
  }
}
