//- Все примеси в этом файле должны начинаться c имени блока (block-descr)

mixin block-descr(color, mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +block-descr('Заголовок', 'Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' block-descr--' + modsList[i].trim();
      }
    }

  .block-descr(class=allMods)&attributes(attributes)
    .block-descr__bg(style='background-color:' + color + ';')
    block

mixin block-descr-title(title, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +block-descr('Заголовок', 'Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' block-descr__title--' + modsList[i].trim();
      }
    }

  .block-descr__title(class=allMods)= title
