// В этом файле должны быть стили для БЭМ-блока promo-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promo-slider {
  $block-name: &; // #{$block-name}__element
  padding-top: 47px;

  &__item {
    height: 745px;

    &--1 {
      background: url('../img/promo-bg-1.jpg') top center no-repeat;
      background-size: cover;
    }

    &--2 {
      background: url('../img/promo-bg-2.jpg') top center no-repeat;
      background-size: cover;
    }

    &--3 {
      background: url('../img/promo-bg-3.jpg') top center no-repeat;
      background-size: cover;
    }
  }

  // Стили для owl-carousel

  .owl-dots {
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
  }

  .owl-dot{
    height: 14px;
    margin-right: 17px;
    outline: none;

    &:last-child {
      margin-right: 0;
    }

    span {
      display: inline-block;
      vertical-align: top;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      border: 2px solid #fff;
      background: transparent;
    }

    &.active span {
      background: #fff;
    }
  }
}
