extends pug/layout.pug

block meta
  title Каталог
  meta(name='description', content='')

block header
  +page-header('dark')
    div#header-top.page-header__top
      .page-header__top-inner
        +top-nav-toggler()
        +top-nav()
        +user-block()
    .page-header__bottom
      .page-header__bottom-inner
        +logo('/')
          img(src='img/logo.svg', alt='Kuks',)
        +main-nav-toggler()
        +main-nav()
        +cart()


block content
    +catalog()
      +filter()
      .catalog__content
        +breadcrumbs()
          +breadcrumbs-item('Женское', '/')
          +breadcrumbs-item('Сумки и клатчи')

        h1 Сумки и&nbsp;клатчи
        .catalog__items
          +card()
            +card-img('/', 'img/new-1.jpg')
            +card-content('Strap', '/', 'Ремень для сумки')
              +card-price-block('2 499')
          +card()
            +card-label()
            +card-img('/', 'img/new-2.jpg')
            +card-content('Valentine', '/', 'Сумка женская')
              +card-price-block('8 499', 'sale', '8 499')
          +card()
            +card-img('/', 'img/new-3.jpg')
            +card-content('Helen', '/', 'Сумка женская')
              +card-price-block('8 499')
          +card()
            +card-img('/', 'img/related-products-1.jpg')
            +card-content('Love', '/', 'Сумка женская')
              +card-price-block('8 499')
          +card()
            +card-img('/', 'img/new-1.jpg')
            +card-content('Strap', '/', 'Ремень для сумки')
              +card-price-block('2 499')
          +card()
            +card-label()
            +card-img('/', 'img/new-2.jpg')
            +card-content('Valentine', '/', 'Сумка женская')
              +card-price-block('8 499', 'sale', '8 499')
          +card()
            +card-img('/', 'img/new-3.jpg')
            +card-content('Helen', '/', 'Сумка женская')
              +card-price-block('8 499')
    +subscribe('white')
      +btn('Подписаться', 'subscribe', true)(type='submit')

block footer
  +page-footer()
    +socials()
      +socials-item('Vkontakte', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-vk")
      +socials-item('Instagram', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-insta")
      +socials-item('Facebook', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-fb")




