extends pug/layout.pug

block meta
  title Типовая страница
  meta(name='description', content='')

block header
  +page-header('dark')
    div#header-top.page-header__top
      .page-header__top-inner
        +top-nav-toggler()
        +top-nav()
        +user-block()
    .page-header__bottom
      .page-header__bottom-inner
        +logo('/')
          img(src='img/logo.svg', alt='Kuks',)
        +main-nav-toggler()
        +main-nav()
        +cart()


block content
  +default-page()
    .default-page__inner
      +breadcrumbs()
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Новости', '/')
        +breadcrumbs-item('Типовая страница')

      h1 Новая коллекция сумок &laquo;Marina&raquo;

    +owl-carousel('default-slider')
      .default-slider__item.default-slider__item--1
        .default-slider__inner
          .default-slider__content
            p.
              В новой коллекции мы используем новую кожу и новую фурнитуру,
              привезенные прямиком из Италии и немножко из КНДР
            p Идельное сочетание самых модных цветов сезона и подкладок из натуральных материалов.
      .default-slider__item.default-slider__item--2
        .default-slider__inner
          .default-slider__content
            p.
              В новой коллекции мы используем новую кожу и новую фурнитуру,
              привезенные прямиком из Италии и немножко из КНДР
            p Идельное сочетание самых модных цветов сезона и подкладок из натуральных материалов.
      .default-slider__item.default-slider__item--3
        .default-slider__inner
          .default-slider__content
            p.
              В новой коллекции мы используем новую кожу и новую фурнитуру,
              привезенные прямиком из Италии и немножко из КНДР
            p Идельное сочетание самых модных цветов сезона и подкладок из натуральных материалов.
    .default-page__inner
      +default-text()
        h2 Второй уровень
        p.
          Продукт одновременно транслирует имидж, учитывая результат предыдущих медиа-кампаний. Программа лояльности,
          безусловно, экономит бренд. Надо сказать, что медийная реклама ускоряет стиль менеджмента. Пул лояльных
          изданий ускоряет бюджет на размещение. Имидж, вопреки мнению П.Друкера, обуславливает конструктивный
          SWOT-анализ. Надо сказать, что потребительская база стабилизирует социометрический потребительский рынок.
        p.
          Рекламный бриф детерминирует стратегический клиентский спрос. Корпоративная культура транслирует ролевой
          департамент маркетинга и продаж, полагаясь на инсайдерскую информацию. Маркетингово-ориентированное издание
          транслирует рекламоноситель, учитывая результат предыдущих медиа-кампаний.
        p.
          Стратегический рыночный план традиционно программирует институциональный повторный контакт. Медиапланирование
          недостаточно трансформирует рекламный блок. Построение бренда экономит социометрический метод изучения рынка.
        h3 Третий уровень
        p.
          Стимулирование коммьюнити, на первый взгляд, настроено позитивно. Фактор коммуникации транслирует бюджет
          на размещение. VIP-мероприятие, вопреки мнению П.Друкера, нетривиально. Сущность и концепция маркетинговой
          программы сознательно отталкивает повторный контакт. Коммуникация естественно поддерживает конвергентный
          принцип восприятия. Потребление, не меняя концепции, изложенной выше, спорадически консолидирует комплексный
          анализ ситуации, отвоевывая рыночный сегмент.
        p.
          Продуктовый ассортимент притягивает обществвенный рекламный клаттер. В рамках концепции Акоффа и Стэка,
          торговая марка откровенна. Согласно предыдущему, каждая сфера рынка очевидна не для всех. Создание
          приверженного покупателя не критично.
        p.
          Департамент маркетинга и продаж нетривиален. Формат события абстрактен. Организация службы маркетинга
          специфицирует имидж.

        ol
          li Стимулирование коммьюнити
          li На первый взгляд
          li Настроено позитивно
          li Фактор коммуникации транслирует бюджет на размещение
          li VIP-мероприятие, вопреки мнению
            ul
              li Настроено позитивно
              li Фактор коммуникации транслирует бюджет на размещение
              li VIP-мероприятие, вопреки мнению

    +default-gallery()
      +default-gallery-item('img/content-4.jpg', 'gallery')
      +default-gallery-item('img/promo-bg-1.jpg', 'gallery')
      +default-gallery-item('img/promo-bg-3.jpg', 'gallery')
      +default-gallery-item('img/content-3.jpg', 'gallery')
      +default-gallery-item('img/content-2.jpg', 'gallery')
      +default-gallery-item('img/content-1.jpg', 'gallery')

    +related-products()
      +retated-products-title('Связанные товары')
      .related-products__items
        +related-products-item
          +related-products-img('/', 'img/new-1.jpg')
          +related-products-content('Strap', '/', 'Ремень для сумки')
            +related-products-price-block('2 499')
        +related-products-item
          +related-products-img('/', 'img/new-2.jpg')
          +related-products-content('Valentine', '/', 'Сумка женская')
            +related-products-price-block('8 499', 'sale', '8 499')
        +related-products-item
          +related-products-img('/', 'img/new-3.jpg')
          +related-products-content('Helen', '/', 'Сумка женская')
            +related-products-price-block('8 499')
        +related-products-item
          +related-products-img('/', 'img/related-products-1.jpg')
          +related-products-content('Love', '/', 'Сумка женская')
            +related-products-price-block('8 499')

    +subscribe('white')
      +btn('Подписаться', 'subscribe', true)(type='submit')

block footer
  +page-footer()
    +socials()
      +socials-item('Vkontakte', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-vk")
      +socials-item('Instagram', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-insta")
      +socials-item('Facebook', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-fb")




