extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

block header

  +page-header('absolute')
    div#header-top.page-header__top
      .page-header__top-inner
        +top-nav-toggler()
        +top-nav()
        +user-block()
    .page-header__bottom
      .page-header__bottom-inner
        +logo('/')
          img(src='img/logo.svg', alt='Kuks',)
        +main-nav-toggler()
        +main-nav()
        +cart()

block content

  +promo-slider()

  +main-content()
    .main-content__inner
      +main-content-title('Авторские сумки')
      +main-content-subtitle()

  +block-center()
    .block-center__imgs
      img.block-center__img(src='img/block-center-1.jpg')
      img.block-center__img(src='img/block-center-2.jpg')
    .block-center__inner
      +block-descr()
        +block-descr-title('Тренды')
        p.block-descr__text.
          Не знаете что хотите? Мы&nbsp;подобрали самые трендовые аксессуары сезона, вы точно не&nbsp;промахнетесь.
        +btn('Смотреть', 'white')(href='/')

  +block-right()
    img.block-right__img(src='img/block-right-1.jpg')
    .block-right__inner
      +block-descr('blue-stone')
        +block-descr-title('Для женщин')
        p.block-descr__text.
          Основой нашего ассортимента являются в первую очередь сумки, одежда и акссесуары для женщин
        +btn('Смотреть', 'white')(href='/')

  +new()
    h2.new__title Нью хот
    .new__subtitle Наши самых свеженькие и горяченькие новиночки для вас
    +owl-carousel('new-items')
      div.new__item-wrap
        +new-item()
          +card-label()
          +new-item-img('/', 'img/new-1.jpg')
          +new-item-content('Strap', 'Ремень для сумки', '2 499')
            p.new__descr.
              Классическая сумка для небольших
              мелочей, которая прекрасно подойдет для похода в любое место куда вам
              захочется с ней пойти.
            +new-price-block('8499', 'sale', '12999')
      div.new__item-wrap
        +new-item()
          +new-item-img('/', 'img/new-2.jpg')
          +new-item-content('Valentine', 'Сумка женская', '8 499')
            p.new__descr.
              Классическая сумка для небольших
              мелочей, которая прекрасно подойдет для похода в любое место куда вам
              захочется с ней пойти.
            +new-price-block('8499')
      div.new__item-wrap
        +new-item()
          +new-item-img('/', 'img/new-3.jpg')
          +new-item-content('Helen', 'Сумка женская', '12 219')
            p.new__descr.
              Классическая сумка для небольших
              мелочей, которая прекрасно подойдет для похода в любое место куда вам
              захочется с ней пойти.
            +new-price-block('8499')
      div.new__item-wrap
        +new-item()
          +new-item-img('/', 'img/new-3.jpg')
          +new-item-content('Helen', 'Сумка женская', '12 219')
            p.new__descr.
              Классическая сумка для небольших
              мелочей, которая прекрасно подойдет для похода в любое место куда вам
              захочется с ней пойти.
            +new-price-block('8499')
      div.new__item-wrap
        +new-item()
          +new-item-img('/', 'img/new-3.jpg')
          +new-item-content('Helen', 'Сумка женская', '12 219')
            p.new__descr.
              Классическая сумка для небольших
              мелочей, которая прекрасно подойдет для похода в любое место куда вам
              захочется с ней пойти.
            +new-price-block('8499')
      div.new__item-wrap
        +new-item()
          +card-label()
          +new-item-img('/', 'img/new-3.jpg')
          +new-item-content('Helen', 'Сумка женская', '12 219')
            p.new__descr.
              Классическая сумка для небольших
              мелочей, которая прекрасно подойдет для похода в любое место куда вам
              захочется с ней пойти.
            +new-price-block('8499', 'sale', '12999')

  +bg-gallery()
    +socials()
      +socials-item('Vkontakte', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-vk--gray")
      +socials-item('Instagram', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-insta--gray")
      +socials-item('Facebook', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-fb--gray")

  +news()
    +news-title('Новости')
    .news__items
      +news-item('/', 'img/news-1.jpg', '28 января 2018')
        .news__subtitle.
          С 10 февраля можно будет купить наши товары на сайте Ламбады.
      +news-item('/', 'img/news-2.jpg', '22 февраля 2018')
        .news__subtitle.
          Как отличить хорошую и качественную кожу. Какая прослужит дольше?
      +news-item('/', 'img/news-3.jpg', '23 марта 2018')
        .news__subtitle.
          Hermes дороговат, а красивый ремешок для ваших Apple Watch хочется? Мы приготовили для вас свою линейку!
      +news-item('/', 'img/news-4.jpg', '2 июня 2018')
        .news__subtitle.
          Как ухаживать за металлической фурнитурой на кожаных сумках и одежде.

  +subscribe()
    +btn('Подписаться', 'subscribe', true)(type='submit')

block footer
  +page-footer()
    +socials()
      +socials-item('Vkontakte', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-vk")
      +socials-item('Instagram', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-insta")
      +socials-item('Facebook', '/')
        svg(width="32", height="32")
          use(xlink:href="img/sprite-svg.svg#icon-fb")

//- block page-bottom
//-   script(src='js/some.js')
