.b-rub {
  font-family: 'PT Rouble Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 24px;

  @media (min-width: $screen-md) {
    font-size: 34px;
  }

  @media (min-width: $screen-lg) {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    margin-bottom: 44px;
  }
}

h2 {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 7px;

  @media (min-width: $screen-md) {
    font-size: 34px;
    margin-bottom: 15px;
  }

  @media (min-width: $screen-lg) {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

h3 {
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 7px;

  @media (min-width: $screen-md) {
    font-size: 24px;
    margin-bottom: 10px;
  }

  @media (min-width: $screen-lg) {
    font-size: 26px;
    margin-bottom: 17px;
  }
}

.magnify > .magnify-lens {
  width: 280px;
  height: 280px;
  box-shadow: none;
  border: 2px solid #fff;
  border-radius: 50%;

  @media (min-width: $screen-lg) {
    width: 200px;
    height: 200px;
  }
}

.fixed {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* for Mac OS X support */
  ::-webkit-scrollbar {
    width: 0;
  }
}

.section {
  padding-top: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.person {
  padding-bottom: 45px;
}

.person__section-nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 10px;
}

.person__section-nav-item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.person__section-nav-link {
  position: relative;
  display: block;
  color: #1e1e1e;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s;

  @media (min-width: $screen-md) {
    font-size: 20px;
  }

  &:hover,
  &:active {
    opacity: 0.7;
  }
}

.personal__text {
  padding-left: 35px;
}

.person__img {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.profile-user-div-link a {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.bx-auth {
  text-align: center;
  padding-bottom: 45px;
}

.bx-auth-note {
  font-size: 18px;
  margin-bottom: 25px;
}

.checkbox__icon {
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  background: #fff;
  cursor: pointer;
  border: 1px solid #000;
}

.checkbox__label {
  position: relative;
  display: block;
  padding-left: 30px;
  text-align: left;
}

input[type=checkbox]:checked + .checkbox__label .checkbox__icon:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 6px;
  background: #000;
  width: 2px;
  height: 2px;
  box-shadow:
    2px 0 0 #000,
    4px 0 0 #000,
    4px -2px 0 #000,
    4px -4px 0 #000,
    4px -6px 0 #000,
    4px -8px 0 #000;
  transform: rotate(45deg);
}

.checkbox__name {
  font-size: 14px;
}

.register-note {
  font-size: 14px;
}

.auth-links {
  padding-top: 45px;
}

.auth-link {
  margin-top: 0;
  margin-bottom: 15px;
}

.notes {
  padding-top: 30px;
  text-align: left;
}

.requirement-note {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-style: italic;
  color: #707070;
  text-align: left;
}

.back-to-auth a {
  font-weight: 700;
  color: #707070;
  font-size: 16px;
}

@media (min-width: 768px) {
  .checkbox__name {
    font-size: 16px;
  }

  .bx-auth-note {
    font-size: 20px;
  }

  .requirement-note {
    font-size: 16px;
  }

  .back-to-auth a {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .bx-auth-note {
    font-size: 22px;
  }

  .auth-fields {
    display: flex;
    flex-wrap: wrap;
  }

  .auth-fields .field-text {
    width: 30%;
    margin-right: 5%;
  }

  .auth-fields .field-text:nth-child(3n) {
    margin-right: 0;
  }

  .auth-fields .field-text__name {
    text-align: left;
  }
}

.order__form-box {
  padding-bottom: 45px;
}

.sale-order-history-link {
  color: #000;
  font-family: $font-family;
  font-size: 16px;
  transition: all 0.3s;

  &:hover,
  &:active {
    color: #000;
    opacity: 0.7;
  }
}

.person {
  font-family: $font-family !important;
}

.sale-order-list-repeat-link {
  color: #000 !important;
  text-decoration: none;
  transition: all 0.3s;

  &:hover,
  &:active {
    color: #000 !important;
    opacity: 0.7;
  }

  &:before {
    background: url('/local/templates/main/img/sale-order-repeat.svg') no-repeat;
  }
}

.sale-order-list-about-link {
  color: #000 !important;
  text-decoration: none;
  transition: all 0.3s;

  &:hover,
  &:active {
    color: #000 !important;
    opacity: 0.7;
  }
}

.ps_logo img {
  display: none !important;
}

.pay_name {
  font-size: 18px;

  @media (min-width: $screen-lg) {
    font-size: 20px;
  }
}

.ordering .heading_type_h1 {
  width: 100%;

  @media (min-width: $screen-lg) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}

.sale-order-history-link:focus,
.sale-order-history-link:visited {
  color: #000;
}

// Для невалидных полей

form select.error,
form textarea.error,
form input.error {
  border: 1px solid #cc0000;

  &:focus {
    border: 1px solid #cc0000;
  }

  &::placeholder {
    color: #cc0000;
    text-transform: uppercase;
  }
}
