.b-rub {
  font-family: 'PT Rouble Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 24px;

  @media (min-width: $screen-md) {
    font-size: 34px;
  }

  @media (min-width: $screen-lg) {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    margin-bottom: 44px;
  }
}

h2 {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 7px;

  @media (min-width: $screen-md) {
    font-size: 34px;
    margin-bottom: 15px;
  }

  @media (min-width: $screen-lg) {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

h3 {
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 7px;

  @media (min-width: $screen-md) {
    font-size: 24px;
    margin-bottom: 10px;
  }

  @media (min-width: $screen-lg) {
    font-size: 26px;
    margin-bottom: 17px;
  }
}

.magnify > .magnify-lens {
  width: 100px;
  height: 100px;
  box-shadow: none;
  border-radius: 0;
  border: 0;

  @media (min-width: $screen-lg) {
    width: 200px;
    height: 200px;
  }
}

.fixed {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
