$gray--lightest:              #999;
$gray--lighter:               #f2f2f2;
$gray--light:                 #707070;
$gray:                        #292929;

$font-color:                  #000000;
$link-color:                  $font-color;
$link-color--hover:           $font-color;

$font-family:                 'Muller', Arial, sans-serif;
$font-size:                   16px;
$line-height:                 1.6;

$container-xs:                auto;
$container-sm:                auto;
$container-md:                720px;
$container-lg:                960px;
$container-xl:                1258px;

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1360px;

$screen-xs-max:               ($screen-sm - 1);
$screen-sm-max:               ($screen-md - 1);
$screen-md-max:               ($screen-lg - 1);
$screen-lg-max:               ($screen-xl - 1);
