// В этом файле должны быть стили для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.default-slider {
  width: 100%;

  &__inner {
    @include container();
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;

    @media (min-width: $screen-lg) {
      height: 600px;
    }

    @media (min-width: 2560px) {
      height: 800px;
    }

    &--1 {
      background: url('../img/default-slider-bg-1.jpg') top center no-repeat;
      background-size: cover;
    }

    &--2 {
      background: url('../img/promo-bg-2.jpg') top center no-repeat;
      background-size: cover;
    }

    &--3 {
      background: url('../img/promo-bg-3.jpg') top center no-repeat;
      background-size: cover;
    }
  }

  &__content {
    background: rgba(18, 18, 18, 0.9);
    color: #fff;
    font-size: 14px;
    padding: 30px 25px;
    max-height: 500px;
    overflow: hidden;
    text-align: center;
    line-height: 1.8;
    font-style: italic;
    max-width: 380px;

    @media (min-width: $screen-md) {
      max-width: none;
      width: 420px;
      padding: 52px 46px;
      font-size: 16px;
    }

    @media (min-width: $screen-lg) {
      max-height: 600px;
    }

    p {
      margin-top: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  .owl-dots {
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .owl-dot {
    height: 14px;
    margin-right: 17px;
    outline: none;

    &:last-child {
      margin-right: 0;
    }

    span {
      display: inline-block;
      vertical-align: top;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      border: 2px solid #fff;
      background: transparent;
    }

    &.active span {
      background: #fff;
    }
  }
}

// Стили для owl-carousel
#new-items {
  .owl-dots {
    position: absolute;
    bottom: -84px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .owl-dot {
    height: 14px;
    margin-right: 17px;
    outline: none;

    &:last-child {
      margin-right: 0;
    }

    span {
      display: inline-block;
      vertical-align: top;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      border: 2px solid #fff;
      background: transparent;
    }

    &.active span {
      background: #fff;
    }
  }
}


.owl-nav {
  position: absolute;
  height: 30px;
  top: 50%;
  width: 100%;
}

.owl-nav button.owl-prev > span,
.owl-nav button.owl-next > span {
  display: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 0;
  width: 15px;
  height: 30px;
  background: url('../img/icon-arrow--white.svg') center center no-repeat;
  background-size: contain;
  outline: none;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;

  @media (min-width: $screen-sm) {
    right: 15px;
  }

  @media (min-width: $screen-md) {
    right: -7px;
  }

  @media (min-width: $screen-lg) {
    right: -25px;
  }
}


.owl-carousel .owl-nav button.owl-prev {
  left: 0;
  transform: rotate(-180deg);

  @media (min-width: $screen-sm) {
    left: 15px;
  }

  @media (min-width: $screen-md) {
    left: -7px;
  }

  @media (min-width: $screen-lg) {
    left: -25px;
  }
}

.card__slider.owl-carousel .owl-nav button.owl-prev,
.card__slider.owl-carousel .owl-nav button.owl-next,
.viewed-slider.owl-carousel .owl-nav button.owl-prev,
.viewed-slider.owl-carousel .owl-nav button.owl-next {
  background: url('../img/icon-arrow--black.svg') center center no-repeat;
  background-size: contain;
}


.new-items.owl-carousel .owl-nav button.owl-next,
.viewed-slider.owl-carousel .owl-nav button.owl-next {
  right: -15px;

  @media (min-width: $screen-sm) {
    right: 0;
  }

  @media (min-width: $screen-md) {
    right: -22px;
  }

  @media (min-width: $screen-lg) {
    right: -40px;
  }
}

.card__slider.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.card__slider.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.new-items.owl-carousel .owl-nav button.owl-prev,
.viewed-slider.owl-carousel .owl-nav button.owl-prev {
  left: -15px;
  transform: rotate(-180deg);

  @media (min-width: $screen-sm) {
    left: 0;
  }

  @media (min-width: $screen-md) {
    left: -22px;
  }

  @media (min-width: $screen-lg) {
    left: -40px;
  }
}

.default-slider .owl-nav {
  @include container;
  left: 50%;
  transform: translate(-50%);

  @media (min-width: $screen-sm) {
    width: 100%;
  }
}

.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
