// В этом файле должны быть стили для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.default-slider {

  &__inner {
    @include container();
  }

  &__item {
    display: flex;
    align-items: center;
    height: 500px;

    @media (min-width: $screen-lg) {
      height: 600px;
    }

    &--1 {
      background: url('../img/default-slider-bg-1.jpg') top center no-repeat;
      background-size: cover;
    }

    &--2 {
      background: url('../img/promo-bg-2.jpg') top center no-repeat;
      background-size: cover;
    }

    &--3 {
      background: url('../img/promo-bg-3.jpg') top center no-repeat;
      background-size: cover;
    }
  }

  &__content {
    background: rgba(18, 18, 18, 0.9);
    color: #fff;
    font-size: 14px;
    padding: 30px 25px;
    max-height: 500px;
    overflow: hidden;
    text-align: center;
    line-height: 1.8;
    font-style: italic;

    @media (min-width: $screen-md) {
      width: 420px;
      padding: 52px 46px;
      font-size: 16px;
    }

    @media (min-width: $screen-lg) {
      max-height: 600px;
    }

    p {
      margin-top: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  .owl-dots {
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .owl-dot {
    height: 14px;
    margin-right: 17px;
    outline: none;

    &:last-child {
      margin-right: 0;
    }

    span {
      display: inline-block;
      vertical-align: top;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      border: 2px solid #fff;
      background: transparent;
    }

    &.active span {
      background: #fff;
    }
  }
}

// Стили для owl-carousel
#new-items {
  .owl-dots {
    position: absolute;
    bottom: -84px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .owl-dot {
    height: 14px;
    margin-right: 17px;
    outline: none;

    &:last-child {
      margin-right: 0;
    }

    span {
      display: inline-block;
      vertical-align: top;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      border: 2px solid #fff;
      background: transparent;
    }

    &.active span {
      background: #fff;
    }
  }
}

