// В этом файле должны быть стили для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.owl-carousel {

}

// Стили для owl-carousel
#new-items {
  .owl-dots {
    position: absolute;
    bottom: -84px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .owl-dot {
    height: 14px;
    margin-right: 17px;
    outline: none;

    &:last-child {
      margin-right: 0;
    }

    span {
      display: inline-block;
      vertical-align: top;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      border: 2px solid #fff;
      background: transparent;
    }

    &.active span {
      background: #fff;
    }
  }
}

