//- Все примеси в этом файле должны начинаться c имени блока (product)

mixin product(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product--' + modsList[i].trim();
      }
    }

  .product(class=allMods)&attributes(attributes)
    block
