//- Все примеси в этом файле должны начинаться c имени блока (retated-products)

mixin related-products(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +retated-products('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' retated-products--' + modsList[i].trim();
      }
    }

  .related-products(class=allMods)&attributes(attributes)
    .related-products__inner
      block

mixin retated-products-title(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +retated-products('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' retated-products__title--' + modsList[i].trim();
      }
    }

  h2.related-products__title(class=allMods)!= text
