// В этом файле должны быть стили для БЭМ-блока retated-products, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.related-products {
  $block-name:                &; // #{$block-name}__element
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 55px;

  @media (min-width: $screen-lg) {
    padding-bottom: 75px;
  }

  &__inner {
    @include container();
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;

    @media (min-width: $screen-md) {
      font-size: 34px;
      margin-bottom: 25px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 42px;
      font-size: 40px;
    }
  }

  &__items {

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .card {

    @media (min-width: $screen-md) {
      width: 46%;
      margin-right: 8%;
      margin-left: 0;
      max-width: none;
    }

    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
      &:nth-child(2n) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 25px;
      }
    }

    @media (min-width: $screen-lg) {
      width: 23%;
      margin-right: 2.66%;
      margin-bottom: 0;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
